* {
  margin: 0px;
  padding: 0px; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

body {
  font-family: 'roboto';
  padding-bottom: 70px; }

/*Header*/
header {
  width: 100%;
  height: 120px;
  padding: 10px;
  height: 160px;
  background-color: white;
  border-bottom: solid 2px gray; }

div.logo {
  width: 400px; }

img {
  width: 80%; }

.header-flexMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  justify-content: center;
  padding: 30px;
  font-size: 1.2rem; }

.header-flexMenu li a {
  text-decoration: none;
  color: #007bff;
  padding: 20px; }

.header-flexMenu li a:hover {
  background-color: blue;
  color: white;
  padding: 20px; }

/*Contenido*/
.tabla {
  display: grid;
  height: 100%;
  grid-template-columns: 400px 400px;
  grid-template-rows: 500px 150px 80px 200px;
  border-bottom: solid 2px gray;
  grid-template-areas: "carrusel carrusel" 
 "comentario comentario"
 "izquierda derecha"
 "formulario formulario";
  justify-content: center;
  align-content: space-evenly;
  flex-direction: row; }

.contenido-titulo {
  color: black; }

.tabla-carrusel {
  grid-area: carrusel;
  justify-self: center;
  padding: px;
  width: 100%; }

.izquierda {
  grid-area: izquierda;
  justify-self: center; }

.derecha {
  grid-area: derecha;
  justify-self: center; }

.comentario {
  grid-area: comentario;
  justify-self: center; }

.formulario {
  grid-area: formulario;
  justify-self: center;
  width: 100%; }

/*Footer*/
footer {
  background-color: black;
  height: 100px;
  width: 100%; }

.footer-titulo {
  color: white;
  text-align: center;
  padding: 30px; }

  /*Planes*/
.tabla-planes{
 display: grid;
  height: 490px;
  grid-template-columns: 280px 280px 280px;
  grid-template-rows: 340px 100px;
  grid-column-gap: 30px;
  grid-template-areas:
                      "plan-uno plan-dos plan-tres"
                      "info info info";
  justify-content: center;
  align-content: space-evenly;
  text-align: justify;
  flex-direction: row;
}

.plan-uno{
  grid-area: plan-uno;
  justify-self: center;
}
.plan-dos{
  grid-area: plan-dos;
  justify-self: center;
}
.plan-tres{
  grid-area: plan-tres;
  justify-self: center;
}
.info{
  grid-area: info;
  justify-self: center;
}

  /*Servicios*/
 .tabla-servicios{
  display: grid;
  height: 490px;
  grid-template-columns: 700px;
  grid-template-rows: 300px 100px;
  justify-content: center;
  align-content: space-evenly;
  flex-direction: row;
}

  /*Nosotros*/
.tabla-nosotros{
  display: grid;
  height: 490px;
  grid-template-columns: 700px;
  grid-template-rows: 300px 100px;
  justify-content: center;
  align-content: space-evenly;
  flex-direction: row;
}
  /*Contacto*/
.tabla-contacto{
  display: grid;
  height: 490px;
  grid-template-columns: 500px;
  justify-content: center;
  align-content: space-evenly;
  flex-direction: row;
}


