/*Contenido*/

.tabla{
  display: grid;
  height: 100%;
  grid-template-columns: 400px 400px;
  grid-template-rows: 500px 150px 80px 200px;
  border-bottom: solid 2px gray;

  grid-template-areas: 
                      "carrusel carrusel" 
                      "comentario comentario"
                      "izquierda derecha"
                      "formulario formulario";
  justify-content: center;
  align-content: space-evenly;
  flex-direction: row;
}

.contenido-titulo{
	color: black;
}

.tabla-carrusel{
  grid-area: carrusel;
  justify-self: center;
  padding: px;
  width: 100%;
}

.izquierda{
  grid-area: izquierda;
  justify-self: center;
}

.derecha{
  grid-area: derecha;
  justify-self: center;
}

.comentario{
  grid-area: comentario;
  justify-self: center;
}

.formulario{
  grid-area: formulario;
  justify-self: justify;
  width: 100%;
}
